NODE_ENV=development

ANDROID_HOME=/home/user/Android/Sdk
JAVA_HOME=/usr/lib/jvm/java-17-openjdk

ANDROID_DEVICE_NAME=Android Emulator
ANDROID_PLATFORM_VERSION=13
ANDROID_APP_PATH=./app/android/mda-2.2.0-25.apk
ANDROID_APP_PACKAGE=com.saucelabs.mydemoapp.android
ANDROID_APP_ACTIVITY=com.saucelabs.mydemoapp.android.view.activities.SplashActivity

APPIUM_HOST=127.0.0.1
APPIUM_PORT=4723

WDIO_LOG_LEVEL=info
HEADLESS=false
NO_RESET=false
FULL_RESET=false

BASELINE_APK_PATH=
TARGET_APK_PATH=
